<div class="container" style="padding-top: 40px">
	<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
		<div class="form-group">
			<ui-select multiple ng-model="tariffs.filter.targets" theme="bootstrap">
				<ui-select-match placeholder="Все сд">{{$item.name}}</ui-select-match>
				<ui-select-choices repeat="target in tariffs.targets | filter:$select.search">
					{{target.name}}
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
			<span>Направления</span>
			<button type="button" class="btn btn-default" ng-click="tariffs.inputButtonClick($event)">Выбрать файл</button>
			<input type="file" class="hide" ng-model="tariffs.filter.cityInput" name="cityInput" input-file ng-change="tariffs.chooseCities()" />
			<span class="text-primary" ng-if="tariffs.filter.cities.length">Выбрано {{tariffs.filter.cities.length}} направлений</span>
		</div>
		<div class="form-group">
			<label>Вес</label>
			<ui-select multiple tagging tagging-label="false" on-remove="tariffs.removeWeight()" on-select="tariffs.addWeight($item, $model)" ng-model="tariffs.filter.weights" theme="bootstrap" title="Вес">
				<ui-select-match placeholder="Выберите вес...">{{$item}}</ui-select-match>
				<ui-select-choices repeat="weight in tariffs.availableWeights | filter:$select.search">
					{{weight}}
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-success" ng-disabled="!tariffs.results.length" ng-click="tariffs.downloadFile()">Скачать</button>
			<button type="button" class="btn btn-warning" ng-click="tariffs.getTariffs()" ng-disabled="tariffs.loading.main">Получить</button>
			<uib-progressbar ng-show="tariffs.requestedTargets.length" class="cd-progress" max="tariffs.requestedTargets.length" value="tariffs.dynamic"><span style="color:white; white-space:nowrap;">{{tariffs.dynamic}} / {{tariffs.requestedTargets.length}}</span></uib-progressbar>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group" ng-if="tariffs.results.length">

			<table class="table table-bordered" id="tariffs">
				<thead>
				<tr>
					<th sort-header title="СД" name="delivery" sort="tariffs.sort" accept="tariffs.setSort()"></th>
					<th>Откуда</th>
					<th>Куда</th>
					<th>Откуда(калькулятор)</th>
					<th>Куда(калькулятор)</th>
					<th sort-header title="Вес" name="weight" sort="tariffs.sort" accept="tariffs.setSort()"></th>
					<th>Услуга</th>
					<th>Цена</th>
					<th>Срок доставки</th>
					<th></th>
				</tr>
				</thead>
				<!--<tbody ng-repeat="item in tariffs.results track by $index">
				<tr>
					<td rowspan="{{item.tariffs.length || 1}}">{{::item.delivery}}</td>
					<td rowspan="{{item.tariffs.length || 1}}">{{::item.city.from || item.city.countryFrom}}</td>
					<td rowspan="{{item.tariffs.length || 1}}">{{::item.city.to || item.city.countryTo}}</td>
					<td rowspan="{{item.tariffs.length || 1}}">{{::item.weight}}</td>
					<td>{{::item.tariffs[0].service}}</td>
					<td>{{::item.tariffs[0].cost}}</td>
					<td>{{::item.tariffs[0].deliveryTime}}</td>
				</tr>
				<tr ng-repeat="tarf in item.tariffs" ng-if="$index > 0">
					<td>{{::tarf.service}}</td>
					<td>{{::tarf.cost}}</td>
					<td>{{::tarf.deliveryTime}}</td>
				</tr>
				</tbody>-->
				<tbody ng-repeat="item in tariffs.results">
				<tr ng-repeat="srv in item.tariffs">
					<td>{{item.delivery}}</td>
					<td>{{item.city.initialCityFrom || item.city.countryFrom}}</td>
					<td>{{item.city.initialCityTo || item.city.countryTo}}</td>
					<td>{{item.city.from || item.city.countryFrom}}</td>
					<td>{{item.city.to || item.city.countryTo}}</td>
					<td>{{item.weight}}</td>
					<td>{{srv.service}}</td>
					<td>{{srv.cost}}</td>
					<td>{{srv.deliveryTime}}</td>
					<td>
						<button type="button" class="btn btn-danger" ng-click="tariffs.deleteTariff($parent.$index, $index)">
							<span class="fa fa-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>

		</div>
		<div class="form-group" ng-if="tariffs.errors.length">
			<span class="text-danger">Не удалось получить информацию: </span>
			<button type="button" class="btn btn-warning" ng-click="tariffs.repeatAll()" ng-disabled="tariffs.loading.errors">
				<span class="fa fa-refresh" aria-hidden="true"></span> Повторить все
			</button>
		</div>
		<div class="form-group" ng-if="tariffs.errors.length">

			<table class="table table-bordered" ng-class="{loading: tariffs.loading.errors}" bs-loading-overlay>
				<thead>
				<tr>
					<th>СД</th>
					<th>Откуда</th>
					<th>Куда</th>
					<th>Откуда(калькулятор)</th>
					<th>Куда(калькулятор)</th>
					<th>Вес</th>
					<th>Ошибка</th>
					<th></th>
				</tr>
				</thead>
				<tbody bs-loading-overlay>
				<tr ng-repeat="item in tariffs.errors">
					<td>{{item.delivery}}</td>
					<td>{{item.city.initialCityFrom || item.city.from || item.city.countryFrom}}</td>
					<td>{{item.city.initialCityTo || item.city.to || item.city.countryTo}}</td>
					<td>{{item.city.from || item.city.countryFrom}}</td>
					<td>{{item.city.to || item.city.countryTo}}</td>
					<td>{{item.weight}}</td>
					<td>{{item.error}}</td>
					<td>
						<button type="button" class="btn btn-warning" ng-click="tariffs.repeat(item)" ng-disabled="item.loading" ng-if="item.req">
							<span class="fa fa-refresh" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-danger" ng-click="tariffs.errors.splice($index, 1)" ng-disabled="item.loading">
							<span class="fa fa-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>

</div>